:root {
	--cobalt-blue: #0047AB;
	--dodger-blue: 	#005A9C; /*dodger blue*/
	--bleu-de-france-blue: #318CE7; /*bleu de france*/
	--baby-blue: #89CFF0; /*baby blue*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}
h1, h2, h3 {
	/* font-weight: bolder; */
	font-family: 'Kaushan Script', cursive;
	color: black;
	text-shadow: 1px 1px 5px #222;
}
h4, h5, h6 {
	font-weight: bold;
}
img {
	width: 100%;
}

.container-fluid, [class*="col"] {
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

.active {
	color: white;
	font-weight: bolder;
}
.card {
	border-radius: 0;
}
/*************************/
/*this is for navigation*/

.navigation {
	position: sticky;
	top: 0;
	z-index: 5;
}

#main-container > div {
	/*height: calc(100vh + 354px);*/
}
/* .navbar-collapse li {
	transition: all 0.5s ease;
}
.navbar-collapse li:hover {
	height: 0;
} */
/**********************************/
/*this is for home section*/
#home {
	width: 100%;
	height: calc(100vh - 55px);
	padding-top: calc(40vh - 100px);
	text-align: center;
	/*background-color: var(--dodger-blue);*/
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}
#home * {
	margin-bottom: 30px;
}
#home .profile-name {
	color: white;
	font-size: 4.5rem;
}

#home a {
	background-color: green;	
	text-decoration: none;
	color: #f2f2f2;
	padding: 10px;
}
#home h3 {
	margin-bottom: 30px;
}
#whatIDo {
	padding-top: 20px;
}

#whatIDo .card {
	height: 650px;
	box-shadow: 0 0 5px -1px #555;
}

#whatIDo > div > div {
	padding: 10px;
}

#myTargetClients {
	padding-top: 20px;
}

#myTargetClients > div > div {
	padding: 15px;
}
#myTargetClients .card {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 320px;
	padding-top: 20px;
	border: 0;
}
#myTargetClients .card img {
	width: 50%;
	height: 50%;
}

/*********************************/
/*this is for the about section*/
#about {
	padding: 20px;
}
#about img {	
	display: block;
	transform: translateX(80%);
	width: 40%;
	height: 40%;

}
#about > div > div {
	padding: 0 10px;
	margin-bottom: 20px;
}

#about > div > div:first-child > * {
	margin-bottom: 30px;
}
#about .html {
	width: 70%;
}

#about .css {
	width: 60%;
}
#about .jq {
	width: 75%;
}
#about .ng {
	width: 50%;
}
#about .cs {
	width: 85%;
}
#about .framework {
	width: 65%;
}
#about .core {
	width: 55%;
}
#about .php {
	width: 50%;
}
#about .phyton {
	width: 45%;
}
#about .mssql {
	width: 70%;
}
#about .mysql {
	width: 30%;
}
/****************************************/
/*this is for the experience section*/
#experience {
	padding: 20px;
}

#experience .card {
	border: 0;
	width: 100%;
}
#experience .card img {
	width: 50%;
	height: 50%;
	transform: translateX(50%);
}

/***************************************/
/*this is for project section*/
#projects {
	margin-bottom: calc(100vh - 650px);
	padding: 20px;
}
#projects ul {
	margin-right: 20px;
	margin-bottom: 30px;
}
#projects .list-group-item {
	border: 0;
}
/*****************************************/
/*this is for the contact page*/
#contactme {
	padding: 20px;
}
#contactme form {
	margin-top: 20px;
}
#contactme textarea {
	resize: none;
}
#contactme .form-control,
#contactme .btn {
	border-radius: 0;
}
/*************THIS IS THE FOOTER*************/
.footer {
	background-color: var(--baby-blue);
	padding-top: 10px;
}
.footer > div {
	padding: 10px;
}
.footer > div:last-child {
	padding: 0;
}
.footer ul {
	background-color: var(--dodger-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0%;
}
.footer li {
    list-style: none;
    display: block;
    float: left;
}
.footer a i {
    padding: 10px 20px;
    font-size: 3rem;
    color: white;

}
.footer a i:hover {
	color: var(--dodger-blue);
    background-color: var(--bleu-de-france-blue);
}

.footer-info {
	padding: 0 15px;
}

@media only screen and (max-width:600px) and (orientation:landscape)
{
	#home {
		width: 100%;
		height: calc(100vh - 55px);
		padding-top: calc(40vh - 80px);
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		background-color: var(--dodger-blue);
	}
	#home * {
		margin-bottom: 20px;
	}
	#home .profile-name {
		color: white;
		font-weight: bolder;
	}
	
	#home a {
		background-color: green;	
		text-decoration: none;
		color: #f2f2f2;
		padding: 10px;
		width: 40%;
	}

	#home h3 {
		margin-bottom: 20px;
	}
}

@media only screen and (min-width:961px) {
	max-width: 961px;
}
